:root {
	--spacing-small: 16px;
	--spacing-medium: 32px;
	--spacing-large: 64px;
	--body-padding: 4vw;
}

body {
	font-family: "Georgia", serif;
	line-height: 1.6;
	font-size: 16px;
	color: #0a0a0a;
	margin: auto;
	padding: 0 var(--body-padding);
	-webkit-font-smoothing: antialiased;
}

a {
	color: #1779ba;
}

h1,
h2,
h3 {
	font-family: "Arial", sans-serif;
	margin: 1em 0;
	text-align: center;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
	margin: var(--spacing-large) 0;
}

h3 {
	font-family: "Georgia", serif;
	font-size: 1em;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 0;
}

table td {
	border: 1px solid #c7c7c7;
}

table p {
	margin: 0;
}

tbody tr:nth-child(even) {
	border-bottom: 0;
	background-color: #f1f1f1;
}

tbody td {
	padding: .5rem .625rem .625rem;
}

figure {
	margin: 2em 0;
}

figcaption {
	font-size: .9em;
	margin: 1em 0;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.thesis {
	overflow: hidden;
	max-width: 800px;
	margin: auto;
}

.thesis-navigation {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, .9);
}

.thesis-navigation ul {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;

	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width: calc(100% + var(--body-padding) + var(--body-padding));
	margin-left: calc(var(--body-padding) * -1);
}

.thesis-navigation li {
	font-family: "Arial", sans-serif;
}

.thesis-navigation li a {
	display: block;
	text-decoration: none;
	padding: var(--spacing-small);
}

.thesis__head {
	text-align: center;
	margin: var(--spacing-large) 0;
}

.thesis__references {
	margin: 5em 0;
}

.table-of-contents p {
	overflow: hidden;
	white-space: nowrap;
	margin-top: 0;
	margin-bottom: 0;
}

.table-of-contents a {
	text-decoration: none;
}

.table-of-contents p:after {
	content: ".........................................................................................................................................................................................................."

}

.table-of-contents__level-one {
	margin-left: 0;
}

.table-of-contents__level-two {
	margin-left: 2em;
}

.table-of-contents--level-three {
	margin-left: 4em;
}

.table-wrapper {
	margin: 2em 0;
	overflow: scroll;
}

.table--no-color tr:nth-child(even) {
	background-color: #fff;
}

@media all and (max-width: 850px) {
	
	.thesis-navigation ul {
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow: scroll;
	}
}

/*@media all and (max-width: 400px) {*/
	/**/
	/*.thesis-navigation {*/
		/*display: none;*/
	/*}*/
/*}*/
